
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Delayed progressbars</div>
      <div id="delayed-progressbars" class="panel-body">
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="75" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Custom amount format</div>
      <div id="amount-format" class="panel-body">
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Refresh speed progressbars</div>
      <div id="refresh-speed-progressbars" class="panel-body">
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning six-sec-ease-in-out"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger six-sec-ease-in-out"></div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Custom amount format</div>
      <div class="panel-body">
        <button id="m-multi-trigger-0" type="button" class="btn btn-primary btn-sm">0</button>&nbsp;
        <button id="m-multi-trigger-50" type="button" class="btn btn-primary btn-sm">50</button>&nbsp;
        <button id="m-multi-trigger-100" type="button" class="btn btn-primary btn-sm">100</button><br/><br/>
        <div class="m-multi-trigger">
          <div class="progress">
            <div class="progress-bar"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-info"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-success"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-warning"></div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-danger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Custom percentage format</div>
      <div id="percentage-format" class="panel-body">
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="20" class="progress-bar"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="40" class="progress-bar progress-bar-info"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="60" class="progress-bar progress-bar-success"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="80" class="progress-bar progress-bar-warning"></div>
        </div>
        <div class="progress">
          <div role="progressbar" aria-valuetransitiongoal="100" class="progress-bar progress-bar-danger"></div>
        </div>
      </div>
    </div>
  </div>
</div>