
<div class="row">
  <div class="col-lg-12">
    <div class="portlet portlet-white">
      <div class="portlet-header pam mbn">
        <div class="caption">Customer Listing</div>
        <div class="actions"><a href="javascript:void(0);" class="btn btn-info btn-sm"><i class="fa fa-plus"></i>&nbsp;
            New Customer</a>&nbsp;
          <div class="btn-group"><a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle"><i class="fa fa-wrench"></i>&nbsp;
              Tools</a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#">Export to Excel</a></li>
              <li><a href="#">Export to CSV</a></li>
              <li><a href="#">Export to XML</a></li>
              <li class="divider"></li>
              <li><a href="#">Print Invoices</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="portlet-body pan">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-bordered table-advanced tablesorter mbn">
            <thead>
              <tr>
                <th width="3%">
                  <input type="checkbox" class="checkall"/>
                </th>
                <th width="9%">Record #</th>
                <th>Username</th>
                <th width="10%">Country</th>
                <th width="10%">Gender</th>
                <th width="7%">Order</th>
                <th width="12%">Date</th>
                <th width="10%">Price</th>
                <th width="9%">Status</th>
                <th width="12%">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>1</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>2</td>
                <td>John</td>
                <td>United States</td>
                <td>Female</td>
                <td>45</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-info">Pending</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>3</td>
                <td>Larry</td>
                <td>United States</td>
                <td>Female</td>
                <td>40</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-warning">Suspended</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>4</td>
                <td>Lahm</td>
                <td>United States</td>
                <td>Female</td>
                <td>15</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-danger">Blocked</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>5</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>