
<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
        <thead>
          <tr>
            <th width="3%">
              <input type="checkbox" class="checkall"/>
            </th>
            <th width="7%">Record #</th>
            <th>Username</th>
            <th width="10%">Country</th>
            <th width="10%">Gender</th>
            <th width="7%">Order</th>
            <th width="10%">Date</th>
            <th width="15%">Skills</th>
            <th width="7%">Status</th>
            <th width="12%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>1</td>
            <td>Henry</td>
            <td>United States</td>
            <td>
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </td>
            <td>
              <input type="text" value="32" class="spinner input-mini"/>
            </td>
            <td>20-05-2014</td>
            <td>
              <div data-hover="tooltip" title="75%" class="progress progress-xs mbs">
                <div role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;" class="progress-bar progress-bar-green"><span class="sr-only">75% Complete</span></div>
              </div>
            </td>
            <td><span class="label label-sm label-success">Approved</span></td>
            <td>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                Edit
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp;
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>2</td>
            <td>John</td>
            <td>United States</td>
            <td>
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </td>
            <td>
              <input type="text" value="45" class="spinner input-mini"/>
            </td>
            <td>20-05-2014</td>
            <td>
              <div data-hover="tooltip" title="40%" class="progress progress-xs mbs">
                <div role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;" class="progress-bar progress-bar-red six-sec-ease-in-out"><span class="sr-only">40% Complete</span></div>
              </div>
            </td>
            <td><span class="label label-sm label-info">Pending</span></td>
            <td>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                Edit
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp;
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>3</td>
            <td>Larry</td>
            <td>United States</td>
            <td>
              <select class="form-control">
                <option>Male</option>
                <option selected="selected">Female</option>
                <option>Other</option>
              </select>
            </td>
            <td>
              <input type="text" value="40" class="spinner input-mini"/>
            </td>
            <td>20-05-2014</td>
            <td>
              <div data-hover="tooltip" title="80%" class="progress progress-xs mbs">
                <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-yellow"><span class="sr-only">80% Complete</span></div>
              </div>
            </td>
            <td><span class="label label-sm label-warning">Suspended</span></td>
            <td>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                Edit
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp;
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox"/>
            </td>
            <td>4</td>
            <td>Lahm</td>
            <td>United States</td>
            <td>
              <select class="form-control">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
              </select>
            </td>
            <td>
              <input type="text" value="15" class="spinner input-mini"/>
            </td>
            <td>20-05-2014</td>
            <td>
              <div data-hover="tooltip" title="60%" class="progress progress-xs mbs">
                <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-violet"><span class="sr-only">60% Complete</span></div>
              </div>
            </td>
            <td><span class="label label-sm label-danger">Blocked</span></td>
            <td>
              <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                Edit
              </button>&nbsp;
              <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i>&nbsp;
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>