
<div class="row">
  <div class="col-lg-12">
    <h4 class="box-heading">Pagination</h4>
    <div class="table-container">
      <div class="row mbm">
        <div class="col-lg-6">
          <div class="pagination-panel">
            Page
            &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
            <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center"/>&nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-right"></i></a>&nbsp;
            of 6 | View
            &nbsp;
            <select class="form-control input-xsmall input-sm input-inline">
              <option value="20" selected="selected">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="-1">All</option>
            </select>&nbsp;
            records | Found total 58 records
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <div class="pagination-panel">
            <ul class="pagination pagination-sm man">
              <li><a href="javascript:void(0);">&laquo;</a></li>
              <li><a href="javascript:void(0);">1</a></li>
              <li><a href="javascript:void(0);">2</a></li>
              <li><a href="javascript:void(0);">3</a></li>
              <li><a href="javascript:void(0);">4</a></li>
              <li><a href="javascript:void(0);">5</a></li>
              <li><a href="javascript:void(0);">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
          <thead>
            <tr>
              <th width="3%">
                <input type="checkbox" class="checkall"/>
              </th>
              <th width="9%">Record #</th>
              <th>Username</th>
              <th width="10%">Country</th>
              <th width="10%">Gender</th>
              <th width="7%">Order</th>
              <th width="12%">Date</th>
              <th width="10%">Price</th>
              <th width="9%">Status</th>
              <th width="12%">Actions</th>
            </tr>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>1</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>2</td>
                <td>John</td>
                <td>United States</td>
                <td>Female</td>
                <td>45</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-info">Pending</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>3</td>
                <td>Larry</td>
                <td>United States</td>
                <td>Female</td>
                <td>40</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-warning">Suspended</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>4</td>
                <td>Lahm</td>
                <td>United States</td>
                <td>Female</td>
                <td>15</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-danger">Blocked</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>5</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="pagination-panel">
            Page
            &nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-left"></i></a>&nbsp;
            <input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center"/>&nbsp;<a href="javascript:void(0);" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-right"></i></a>&nbsp;
            of 6 | View
            &nbsp;
            <select class="form-control input-xsmall input-sm input-inline">
              <option value="20" selected="selected">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="-1">All</option>
            </select>&nbsp;
            records | Found total 58 records
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <div class="pagination-panel">
            <ul class="pagination pagination-sm man">
              <li><a href="javascript:void(0);">&laquo;</a></li>
              <li><a href="javascript:void(0);">1</a></li>
              <li><a href="javascript:void(0);">2</a></li>
              <li><a href="javascript:void(0);">3</a></li>
              <li><a href="javascript:void(0);">4</a></li>
              <li><a href="javascript:void(0);">5</a></li>
              <li><a href="javascript:void(0);">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="mtxl mbxl"/>
    <h4 class="box-heading">Search Filter</h4>
    <div class="table-container">
      <div class="row mbl">
        <div class="col-lg-6">
          <div class="input-group input-group-sm mbs"><span class="input-group-btn">
              <button type="button" data-toggle="dropdown" class="btn btn-danger dropdown-toggle">
                Filter
                &nbsp;<span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0);"><i class="fa fa-tint"></i>&nbsp;
                    Newest</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-star"></i>&nbsp;
                    Rating</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-money"></i>&nbsp;
                    Price</a></li>
                <li><a href="javascript:void(0);"><i class="fa fa-user"></i>&nbsp;
                    Sales</a></li>
              </ul></span>
            <input type="text" placeholder="Enter here..." class="form-control"/><span class="input-group-btn">
              <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">Search</button></span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tb-group-actions pull-right"><span>10 records selected:</span>
            <select class="table-group-action-input form-control input-inline input-small input-sm mlm">
              <option value="">Select...</option>
              <option value="Cancel">Cancel</option>
              <option value="Cancel">Hold</option>
              <option value="Cancel">On Hold</option>
              <option value="Close">Close</option>
            </select>&nbsp;
            <button class="btn btn-sm btn-primary"><i class="fa fa-check"></i>&nbsp;
              Submit
            </button>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
          <thead>
            <tr>
              <th width="3%">
                <input type="checkbox" class="checkall"/>
              </th>
              <th width="9%">Record #</th>
              <th>Username</th>
              <th width="10%">Country</th>
              <th width="10%">Gender</th>
              <th width="7%">Order</th>
              <th width="12%">Date</th>
              <th width="10%">Price</th>
              <th width="9%">Status</th>
              <th width="12%">Actions</th>
            </tr>
            <tbody>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>1</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>2</td>
                <td>John</td>
                <td>United States</td>
                <td>Female</td>
                <td>45</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-info">Pending</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>3</td>
                <td>Larry</td>
                <td>United States</td>
                <td>Female</td>
                <td>40</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-warning">Suspended</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>4</td>
                <td>Lahm</td>
                <td>United States</td>
                <td>Female</td>
                <td>15</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-danger">Blocked</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>5</td>
                <td>Henry</td>
                <td>United States</td>
                <td>Male</td>
                <td>32</td>
                <td>20-05-2014</td>
                <td>$240.50</td>
                <td><span class="label label-sm label-success">Approved</span></td>
                <td>
                  <button type="button" class="btn btn-default btn-xs"><i class="fa fa-edit"></i>&nbsp;
                    Edit
                  </button>
                </td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>