
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Scatter plot</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="basic-bar"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Bar with negative stack</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="bar-with-negative-stack"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Column with negative values</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="column-with-negative-values"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">tacked and grouped column</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="stacked-and-grouped-column"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Column with rotated labels</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="column-with-rotated-labels"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Data defined in a HTML table</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="data-defined-in-a-HTML-table"></div>
        <table id="datatable">
          <thead>
            <tr>
              <th></th>
              <th>Jane</th>
              <th>John</th>
            </tr>
            <tbody>
              <tr>
                <th>Apples</th>
                <td>3</td>
                <td>4</td>
              </tr>
              <tr>
                <th>Pears</th>
                <td>2</td>
                <td>0</td>
              </tr>
              <tr>
                <th>Plums</th>
                <td>5</td>
                <td>11</td>
              </tr>
              <tr>
                <th>Bananas</th>
                <td>1</td>
                <td>1</td>
              </tr>
              <tr>
                <th>Oranges</th>
                <td>2</td>
                <td>4</td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Stacked bar</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="stacked-bar"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Basic column</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="basic-column"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Stacked column</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="stacked-column"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Stacked percentage column</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="stacked-percentage-column"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Column range</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="column-range"></div>
      </div>
    </div>
  </div>
</div>