
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Scatter plot</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="pie-chart"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Pie with legend</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="pie-with-legend"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Semi circle donut</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="semi-circle-donut"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Pie with gradient fill</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="pie-with-gradient-fill"></div>
      </div>
    </div>
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Donut chart</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div id="donut-chart"></div>
      </div>
    </div>
  </div>
</div>