
<div id="error-page">
  <div id="error-page-content">
    <h1>404!</h1>
    <h4>The page you are looking for has not been found!</h4>
    <p>The page you are looking for might have been removed or unavailable.</p>
    <p><a href='/#/'>Return home</a> or try the search bar below.</p>
    <form action="" class="mbm">
      <div class="input-group">
        <input type="text" placeholder="Enter page" class="form-control"/><span class="input-group-btn"><a href="/#/" class="btn btn-primary">Search</a></span>
      </div>
    </form>
  </div>
</div>