
<div class="row">
  <div class="col-lg-4">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">Last 5 of logged users</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <ul class="thumb-large">
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu btn-group menu-right"><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-edit"></div>&nbsp;
                  10</a><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-comment"></div>&nbsp;
                  94</a></div>
              <h4 class="media-heading"><a href="javascript:void(0);">Peter Pederson</a><small><a href="">gatesa@email.com</a></small></h4>
              <p class="meta">
                Last Access:
                &nbsp;<span>2 min 21 sec ago</span>
              </p>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu btn-group menu-right"><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-edit"></div>&nbsp;
                  10</a><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-comment"></div>&nbsp;
                  94</a></div>
              <h4 class="media-heading"><a href="javascript:void(0);">Paula Gates</a><small><a href="">gatesa@email.com</a></small></h4>
              <p class="meta">
                Last Access:
                &nbsp;<span>2 min 21 sec ago</span>
              </p>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu btn-group menu-right"><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-edit"></div>&nbsp;
                  10</a><a href="javascript:void(0);" class="btn btn-default btn-xs">
                  <div class="fa fa-comment"></div>&nbsp;
                  94</a></div>
              <h4 class="media-heading"><a href="javascript:void(0);">Anna Gates</a><small><a href="">gatesa@email.com</a></small></h4>
              <p class="meta">
                Last Access:
                &nbsp;<span>2 min 21 sec ago</span>
              </p>
            </div>
          </li>
        </ul>
        <p class="text-right mbn user-list-footer">
          <button type="submit" class="btn btn-success">View all</button>
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">User social page</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div class="input-group">
          <input type="text" class="form-control"/>
          <div class="input-group-btn">
            <button type="button" data-toggle="dropdown" class="btn btn-green dropdown-toggle"><i class="fa fa-search"></i></button>
          </div>
        </div>
        <hr/>
        <ul class="list-dotted thumb-small">
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/geeftvorm/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu-icon menu-right"><a href="javascript:void(0);" class="btn-link"><i class="fa fa-facebook-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-twitter-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-google-plus-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-linkedin-square"></i></a></div>
              <h4 class="media-heading"><a href="#">Brent Dillender</a><small><a href="">gatesa@email.com</a></small></h4>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu-icon menu-right"><a href="javascript:void(0);" class="btn-link"><i class="fa fa-facebook-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-twitter-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-google-plus-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-linkedin-square"></i></a></div>
              <h4 class="media-heading"><a href="#">Anna Gates</a><small><a href="">gatesa@email.com</a></small></h4>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu-icon menu-right"><a href="javascript:void(0);" class="btn-link"><i class="fa fa-facebook-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-twitter-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-google-plus-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-linkedin-square"></i></a></div>
              <h4 class="media-heading"><a href="#">Nicolas Johanson</a><small><a href="">gatesa@email.com</a></small></h4>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <div class="quick-menu-icon menu-right"><a href="javascript:void(0);" class="btn-link"><i class="fa fa-facebook-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-twitter-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-google-plus-square"></i></a><a href="javascript:void(0);" class="btn-link"><i class="fa fa-linkedin-square"></i></a></div>
              <h4 class="media-heading"><a href="#">Julie Baumler</a><small><a href="">gatesa@email.com</a></small></h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">Addresse</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <ul class="thumb-xxlarge media-overflow">
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <h4 class="media-heading"><a href="javascript:void(0);">Julie Baumler</a><span class="label label-success pull-right">Active</span></h4>
              <div class="quick-menu menu-right">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle"><i class="fa fa-cog"></i>&nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="fa fa-pencil"></i><span class="divider-text"></span>Edit</a></li>
                    <li><a href="#"><i class="fa fa-times"></i><span class="divider-text"></span>Reject</a></li>
                    <li><a href="#"><i class="fa fa-check"></i><span class="divider-text"></span>Approve</a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i><span class="divider-text"></span>Delete</a></li>
                  </ul>
                </div>
              </div>
              <ul class="data">
                <li>
                  <div class="em mbs">manager to manager</div>
                </li>
                <li>San Francisco, CA 94107</li>
                <li><abbr title="Phone"><i class="fa fa-phone"></i>:</abbr>&nbsp;<span>(123) 456-7890</span></li>
                <li><abbr title="Phone"><i class="fa fa-envelope-o"></i>:</abbr>&nbsp;<a href="javascript:void(0);">first.last@email.com</a></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <h4 class="media-heading"><a href="javascript:void(0);">Karla Maierweisner</a><span class="label label-success pull-right">Active</span></h4>
              <div class="quick-menu menu-right">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle"><i class="fa fa-cog"></i>&nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="fa fa-pencil"></i><span class="divider-text"></span>Edit</a></li>
                    <li><a href="#"><i class="fa fa-times"></i><span class="divider-text"></span>Reject</a></li>
                    <li><a href="#"><i class="fa fa-check"></i><span class="divider-text"></span>Approve</a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i><span class="divider-text"></span>Delete</a></li>
                  </ul>
                </div>
              </div>
              <ul class="data">
                <li>
                  <div class="em mbs">manager to manager</div>
                </li>
                <li>San Francisco, CA 94107</li>
                <li><abbr title="Phone"><i class="fa fa-phone"></i>:</abbr>&nbsp;<span>(123) 456-7890</span></li>
                <li><abbr title="Phone"><i class="fa fa-envelope-o"></i>:</abbr>&nbsp;<a href="javascript:void(0);">first.last@email.com</a></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-left"><a href="javascript:void(0);" class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg" class="media-object thumb"/></a></div>
            <div class="media-body">
              <h4 class="media-heading"><a href="javascript:void(0);">Tamara Stokes</a><span class="label label-success pull-right">Active</span></h4>
              <div class="quick-menu menu-right">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-xs dropdown-toggle"><i class="fa fa-cog"></i>&nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="fa fa-pencil"></i><span class="divider-text"></span>Edit</a></li>
                    <li><a href="#"><i class="fa fa-times"></i><span class="divider-text"></span>Reject</a></li>
                    <li><a href="#"><i class="fa fa-check"></i><span class="divider-text"></span>Approve</a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i><span class="divider-text"></span>Delete</a></li>
                  </ul>
                </div>
              </div>
              <ul class="data">
                <li>
                  <div class="em mbs">manager to manager</div>
                </li>
                <li>San Francisco, CA 94107</li>
                <li><abbr title="Phone"><i class="fa fa-phone"></i>:</abbr>&nbsp;<span>(123) 456-7890</span></li>
                <li><abbr title="Phone"><i class="fa fa-envelope-o"></i>:</abbr>&nbsp;<a href="javascript:void(0);">first.last@email.com</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">As table</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body pan">
        <div class="table-responsive">
          <table id="user-last-logged-table" class="table table-striped table-hover thumb-small">
            <thead>
              <tr class="condensed">
                <th scope="col"><span class="column-sorter"></span></th>
                <th scope="col">User<span class="column-sorter"></span></th>
                <th scope="col">Username<span class="column-sorter"></span></th>
                <th scope="col">Active<span class="column-sorter"></span></th>
                <th scope="col">Roles<span class="column-sorter"></span></th>
                <th scope="col">Status<span class="column-sorter"></span></th>
                <th scope="col">Last Access<span class="column-sorter"></span></th>
              </tr>
            </thead>
            <tbody class="media-thumb">
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/dominikmartn/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Colin Nixon</h6></a>
                  <div>semper@email.edu</div>
                </td>
                <td>[<span>Colix</span>]</td>
                <td><span>Yes</span></td>
                <td>admin</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 min 21 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">133.64.146.145</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/geeftvorm/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Naida Bennett</h6></a>
                  <div>commodo@email.ca</div>
                </td>
                <td>[<span>Nadiana</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>5 min 45 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">146.132.46.47</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/andrewcohen/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Danielle Myers</h6></a>
                  <div>nunc.sed@email.ca</div>
                </td>
                <td>[<span>Myellersi</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>18 min 39 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">44.44.55.011</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Whitney Jones</h6></a>
                  <div>nunc@email.edu</div>
                </td>
                <td>[<span>whitney</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>46 min 24 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">188.88.88.88</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Marvin Bell</h6></a>
                  <div>aliquet@email.com</div>
                </td>
                <td>[<span>marvin-marvin</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 hour 52 min</em>ago</li>
                    <li>IP:<strong class="user-list-ip">97.145.98.146</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/chexee/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Lucas Melendez</h6></a>
                  <div>m.malesuada@email.org</div>
                </td>
                <td>[<span>Melendez</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>4 hour 21 min</em>ago</li>
                    <li>IP:<strong class="user-list-ip">111.112.112.011</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Devin Harris</h6></a>
                  <div>dolor.sit@email.org</div>
                </td>
                <td>[<span>dolor</span>]</td>
                <td><span>Yes</span></td>
                <td>admin</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 days 20 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">120.142.134.112</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Tucker Graves</h6></a>
                  <div>libero.nec.ligula@email.ca</div>
                </td>
                <td>[<span>Tucker</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 days 15 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">123.123.123.111</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Linus Carpenter</h6></a>
                  <div>pellent@email.com</div>
                </td>
                <td>[<span>LinusCarpen</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>3 days 13 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">146.120.100.101</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Quinlan Lindsay</h6></a>
                  <div>rhoncus@email.com</div>
                </td>
                <td>[<span>Quinla</span>]</td>
                <td><span>Yes</span></td>
                <td>user</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 week 5 days</em>ago</li>
                    <li>IP:<strong class="user-list-ip">84.75.75.21</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Jolie Ryan</h6></a>
                  <div>Proin@email.edu</div>
                </td>
                <td>[<span>RyJo</span>]</td>
                <td><span>Yes</span></td>
                <td>user</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 week 6 days</em>ago</li>
                    <li>IP:<strong class="user-list-ip">125.75.90.90</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/ok/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Roanna Adkins</h6></a>
                  <div>egestas@email.edu</div>
                </td>
                <td>[<span>Rokins</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 week 1 day</em>ago</li>
                    <li>IP:<strong class="user-list-ip">196.186.67.67</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/kfriedson/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Berk Clemons</h6></a>
                  <div>mus.Proin.vel@email.edu</div>
                </td>
                <td>[<span>Berklemons</span>]</td>
                <td><span>Yes</span></td>
                <td>user</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 week 1 day</em>ago</li>
                    <li>IP:<strong class="user-list-ip">75.145.75.011</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Tamara Stokes</h6></a>
                  <div>nec@email.com</div>
                </td>
                <td>[<span>marakes</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 week 5 days</em>ago</li>
                    <li>IP:<strong class="user-list-ip">125.164.75.16</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Shoshana Hodges</h6></a>
                  <div>nibh@email.org</div>
                </td>
                <td>[<span>shoshana</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 week 6 days</em>ago</li>
                    <li>IP:<strong class="user-list-ip">156.144.60.62</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Whitney Jones</h6></a>
                  <div>nunc@email.edu</div>
                </td>
                <td>[<span>whitney</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>46 min 24 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">188.88.88.88</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/manoukvdberg/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Marvin Bell</h6></a>
                  <div>aliquet@email.com</div>
                </td>
                <td>[<span>marvin-marvin</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 hour 52 min</em>ago</li>
                    <li>IP:<strong class="user-list-ip">97.145.98.146</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/chexee/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Lucas Melendez</h6></a>
                  <div>m.malesuada@email.org</div>
                </td>
                <td>[<span>Melendez</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>4 hour 21 min</em>ago</li>
                    <li>IP:<strong class="user-list-ip">111.112.112.011</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/osvaldas/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Devin Harris</h6></a>
                  <div>dolor.sit@email.org</div>
                </td>
                <td>[<span>dolor</span>]</td>
                <td><span>Yes</span></td>
                <td>admin</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 days 20 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">120.142.134.112</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/jonatan/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Tucker Graves</h6></a>
                  <div>libero.nec.ligula@email.ca</div>
                </td>
                <td>[<span>Tucker</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>2 days 15 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">123.123.123.111</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/aaroni/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Linus Carpenter</h6></a>
                  <div>pellent@email.com</div>
                </td>
                <td>[<span>LinusCarpen</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-success">online</span></td>
                <td>
                  <ul class="data">
                    <li><em>3 days 13 hours</em>ago</li>
                    <li>IP:<strong class="user-list-ip">146.120.100.101</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Quinlan Lindsay</h6></a>
                  <div>rhoncus@email.com</div>
                </td>
                <td>[<span>Quinla</span>]</td>
                <td><span>Yes</span></td>
                <td>user</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>1 week 5 days</em>ago</li>
                    <li>IP:<strong class="user-list-ip">84.75.75.21</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/andrewcohen/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Danielle Myers</h6></a>
                  <div>nunc.sed@email.ca</div>
                </td>
                <td>[<span>Myellersi</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>18 min 39 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">44.44.55.011</strong></li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td><span class="img-shadow"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/wdeb/128.jpg" class="media-object thumb"/></span></td>
                <td><a href="javascript:void(0)">
                    <h6 class="media-heading">Whitney Jones</h6></a>
                  <div>nunc@email.edu</div>
                </td>
                <td>[<span>whitney</span>]</td>
                <td><span>Yes</span></td>
                <td>editor</td>
                <td><span class="label label-default">offline</span></td>
                <td>
                  <ul class="data">
                    <li><em>46 min 24 sec</em>ago</li>
                    <li>IP:<strong class="user-list-ip">188.88.88.88</strong></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">As sort & filter list</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <div class="form-search-filter">
          <div class="input-icon"><i class="fa fa-search"></i>
            <input type="text" placeholder="Enter keyword here..." class="form-control"/>
          </div>
        </div>
        <p>
          <div class="btn-group btn-group-sm">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
              Sort by
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu sort-by">
              <li><a data-sort="user-list-name" href="javascript:void(0)" class="sort">by name</a></li>
              <li><a data-sort=".user-list-status" href="javascript:void(0)" class="sort">by status</a></li>
              <li><a data-sort="user-list-email" href="javascript:void(0)" class="sort">by email</a></li>
              <li><a data-sort="user-list-access" href="javascript:void(0)" class="sort">by access</a></li>
            </ul>
          </div>&nbsp;
          <div class="btn-group btn-group-sm">
            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
              Show
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu filter">
              <li><a id="filter-online" href="javascript:void(0)">Online</a></li>
              <li><a id="filter-offline" href="javascript:void(0)">Offline</a></li>
              <li class="divider"></li>
              <li><a id="filter-all" href="javascript:void(0)">All</a></li>
            </ul>
          </div>&nbsp;<a id="refreshList" href="javascript:void(0);" class="btn btn-white btn-sm">
            Reset
            &nbsp;<i class="fa fa-refresh"></i></a>
        </p>
        <hr/>
        <ul class="user-last-logged-list">
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Paula Gates</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">gatesa@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">08:21</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">158.45.46.27</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-success">online</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Joaquin Lippincott</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">aquin@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">08:45</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">146.145.146.011</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Dylan Tack</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">d.tack@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">08:52</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">111.105.156.103</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-success">online</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Scott Vandenhey</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">vandy@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">09:15</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">123.45.78.47</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Barrett Olafson</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">olagson@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">09:22</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">147.200.69.00</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Chuck Vose</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">vose@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">09:35</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">154.147.46.78</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-success">online</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Mariya Borisova</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">mbo@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">09:37</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">75.45.45.75</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Gizzelle Williams</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">gizzelle@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">10:16</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">146.174.200.124</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-success">online</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Julie Baumler</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">julie.baumler@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">10:22</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">102.105.104.55</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-success">online</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Anna Gates</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">a.gates@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">10:59</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">125.205.204.27</strong></li>
              </ul>
            </div>
          </li>
          <li class="media">
            <div class="media-thumb media-right">
              <div class="user-list-status label label-default">offline</div>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><i class="fa fa-user"></i><a href="javascript:void(0);" class="user-list-name">Brent Dillender</a></h4>
              <ul class="meta">
                <li><i class="i fa fa-envelope-o"></i>Email:<strong class="user-list-access">bredi@email.com</strong></li>
                <li><i class="i fa fa-clock-o"></i>Last Access:<strong class="user-list-access">12:45</strong></li>
                <li><i class="i fa fa-globe"></i>IP:<strong class="user-list-ip">158.126.145.27</strong></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>