
<div class="row">
  <div class="col-lg-6">
    <div class="portlet box portlet-yellow">
      <div class="portlet-header">
        <div class="caption">Validate Types</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <form action="#" class="form-validate">
          <div class="form-group">
            <label for="" class="control-label">Text</label>
            <input type="text" name="text" class="form-control required"/>
          </div>
          <div class="form-group">
            <textarea rows="10" name="textarea" class="form-control required"></textarea>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Email</label>
            <input type="email" name="email" class="form-control required email"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Password</label>
            <input id="password" type="password" name="password" class="form-control required password"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Confirm Password</label>
            <input type="password" name="confirm_password" equalTo="#password" class="form-control required password"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Min length 5</label>
            <input type="text" name="min_length" minlength="5" class="form-control required"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Max length 10</label>
            <input type="text" name="max_length" maxlength="10" class="form-control required"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Length from 3 to 10</label>
            <input type="text" name="length_from_to" minlength="3" maxlength="10" class="form-control required"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Url</label>
            <input type="text" name="url" class="form-control required url"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Number</label>
            <input type="text" name="number" class="form-control required number"/>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>&nbsp;
          <button type="button" class="btn btn-default">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="portlet box portlet-green">
      <div class="portlet-header">
        <div class="caption">Sign In Form</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <form action="#" class="form-validate-signin">
          <div class="form-group">
            <label for="" class="control-label">Email</label>
            <input type="email" name="email" class="form-control required email"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Password</label>
            <input id="password" type="password" name="password" class="form-control required password"/>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>&nbsp;
          <button type="button" class="btn btn-default">Cancel</button>
        </form>
      </div>
    </div>
    <div class="portlet box portlet-blue">
      <div class="portlet-header">
        <div class="caption">Sign Up Form</div>
        <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
      </div>
      <div class="portlet-body">
        <form action="#" class="form-validate-signup">
          <div class="form-group">
            <label for="" class="control-label">User Name <span class='require'>*</span></label>
            <input type="text" name="username1" minlength="2" maxlength="30" placeholder="Min length 2, Max length 30" class="form-control required"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Email <span class='require'>*</span></label>
            <input type="email" name="email1" class="form-control required email"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Password <span class='require'>*</span></label>
            <input id="password1" type="password" name="password1" minlength="6" placeholder="Min length 6" class="form-control required password"/>
          </div>
          <div class="form-group">
            <label for="" class="control-label">Age</label>
            <input type="text" name="age" placeholder="Min value 0, max value 100" class="form-control number"/>
          </div>
          <button type="submit" class="btn btn-success btn-block">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>