
<div class="row">
  <div class="col-lg-12">
    <div class="note">
      <p>File Upload widget with multiple file selection, drag&drop support, progress bars, validation and preview images, audio and video for jQuery.<br/>Supports cross-domain, chunked and resumable file uploads and client-side image resizing.<br/>Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.</p>
    </div>
    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
      <!-- Redirect browsers with JavaScript disabled to the origin page-->
      <noscript>
        <input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"/>
      </noscript>
      <!--The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload-->
      <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
          <!--The fileinput-button span is used to style the file input field as button--><span class="btn btn-success fileinput-button"><i class="glyphicon glyphicon-plus"></i>&nbsp;<span>Add files...</span>
            <input type="file" name="files[]" multiple="multiple"/></span>&nbsp; &nbsp;
          <button type="submit" class="btn btn-primary start"><i class="glyphicon glyphicon-upload"></i>&nbsp;<span>Start upload</span></button>&nbsp; &nbsp;
          <button type="reset" class="btn btn-warning cancel"><i class="glyphicon glyphicon-ban-circle"></i>&nbsp;<span>Cancel upload</span></button>&nbsp; &nbsp;
          <button type="button" class="btn btn-danger delete"><i class="glyphicon glyphicon-trash"></i>&nbsp;<span>Delete</span></button>&nbsp; &nbsp;
          <input type="checkbox" class="toggle"/>
          <!--The global file processing state--><span class="fileupload-process"></span>
        </div>
        <!--The global progress state-->
        <div class="col-lg-5 fileupload-progress fade">
          <!--The global progress bar-->
          <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress progress-striped active">
            <div style="width: 0%;" class="progress-bar progress-bar-success"></div>
          </div>
          <!--The extended global progress state-->
          <div class="progress-extended"> </div>
        </div>
      </div>
      <!--The table listing the files available for upload/download-->
      <table role="presentation" class="table table-striped">
        <tbody class="files"></tbody>
      </table>
    </form>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Demo Notes</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>
            The maximum file size for uploads in this demo is
            &nbsp;<strong>5 MB</strong>&nbsp;
            (default file size is unlimited).
          </li>
          <li>
            Only image files (
            &nbsp;<strong>JPG, GIF, PNG</strong>&nbsp;
            ) are allowed in this demo (by default there is no file type restriction).
          </li>
          <li>
            Uploaded files will be deleted automatically after
            &nbsp;<strong>5 minutes</strong>&nbsp;
            (demo setting).
          </li>
          <li>
            You can
            &nbsp;<strong>drag & drop</strong>&nbsp;
            files from your desktop on this webpage (see
            &nbsp;<a href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support">Browser support</a>&nbsp;
            ).
          </li>
          <li>
            Please refer to the
            &nbsp;<a href="https://github.com/blueimp/jQuery-File-Upload">project website</a>&nbsp;
            and
            &nbsp;<a href="https://github.com/blueimp/jQuery-File-Upload/wiki">documentation</a>&nbsp;
            for more information.
          </li>
          <li>
            Built with Twitter's
            &nbsp;<a href="http://twitter.github.com/bootstrap/">Bootstrap</a>&nbsp;
            CSS framework and Icons from
            &nbsp;<a href="http://glyphicons.com/">Glyphicons</a>&nbsp;
            .
          </li>
        </ul>
      </div>
    </div>
    <!--The blueimp Gallery widget-->
    <div id="blueimp-gallery" data-filter=":even" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3><a class="prev">‹</a><a class="next">›</a><a class="close">×</a><a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>
    <!-- The template to display files available for upload-->
    <script id="template-upload" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-upload fade">
              <td>
                  <span class="preview"></span>
              </td>
              <td>
                  <p class="name">{%=file.name%}</p>
                  <strong class="error text-danger"></strong>
              </td>
              <td>
                  <p class="size">Processing...</p>
                  <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
              </td>
              <td>
                  {% if (!i && !o.options.autoUpload) { %}
                      <button class="btn btn-primary start" disabled>
                          <i class="glyphicon glyphicon-upload"></i>
                          <span>Start</span>
                      </button>
                  {% } %}
                  {% if (!i) { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
    <!-- The template to display files available for download-->
    <script id="template-download" type="text/x-tmpl">
      {% for (var i=0, file; file=o.files[i]; i++) { %}
          <tr class="template-download fade">
              <td>
                  <span class="preview">
                      {% if (file.thumbnailUrl) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                      {% } %}
                  </span>
              </td>
              <td>
                  <p class="name">
                      {% if (file.url) { %}
                          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                      {% } else { %}
                          <span>{%=file.name%}</span>
                      {% } %}
                  </p>
                  {% if (file.error) { %}
                      <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                  {% } %}
              </td>
              <td>
                  <span class="size">{%=o.formatFileSize(file.size)%}</span>
              </td>
              <td>
                  {% if (file.deleteUrl) { %}
                      <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                          <i class="glyphicon glyphicon-trash"></i>
                          <span>Delete</span>
                      </button>
                      <input type="checkbox" name="delete" value="1" class="toggle">
                  {% } else { %}
                      <button class="btn btn-warning cancel">
                          <i class="glyphicon glyphicon-ban-circle"></i>
                          <span>Cancel</span>
                      </button>
                  {% } %}
              </td>
          </tr>
      {% } %}
    </script>
  </div>
</div>