
<div class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div id="grid-double-sort" class="box jplist double-sort">
          <div class="jplist-ios-button"><i class="fa fa-sort"></i>jPList Actions</div>
          <div class="jplist-panel box panel-top">
            <div data-control-type="drop-down" data-control-name="paging" data-control-action="paging" class="jplist-drop-down form-control">
              <ul class="dropdown-menu">
                <li><span data-number="3"> 3 per page</span></li>
                <li><span data-number="5"> 5 per page</span></li>
                <li><span data-number="10" data-default="true"> 10 per page</span></li>
                <li><span data-number="all"> view all</span></li>
              </ul>
            </div>
            <div data-control-type="drop-down" data-control-name="sort1" data-control-action="sort" class="jplist-drop-down form-control">
              <ul class="dropdown-menu">
                <li><span data-path="default">Sort by</span></li>
                <li><span data-path=".subject" data-order="asc" data-type="text">Subject A-Z</span></li>
                <li><span data-path=".course" data-order="asc" data-type="text">Course A-Z</span></li>
              </ul>
            </div>
            <div data-control-type="drop-down" data-control-name="sort2" data-control-action="sort" class="jplist-drop-down form-control">
              <ul class="dropdown-menu">
                <li><span data-path="default">Sort by</span></li>
                <li><span data-path=".subject" data-order="asc" data-type="text">Subject A-Z</span></li>
                <li><span data-path=".course" data-order="asc" data-type="text">Course A-Z</span></li>
              </ul>
            </div>
            <div class="text-filter-box">
              <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input data-path=".subject" type="text" value="" placeholder="Filter by Subject" data-control-type="textbox" data-control-name="subject-filter" data-control-action="filter" class="form-control"/>
              </div>
            </div>
            <div data-type="Page {current} of {pages}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging" class="jplist-label btn btn-default"></div>
            <div data-control-type="pagination" data-control-name="paging" data-control-action="paging" class="jplist-pagination"></div>
          </div>
          <div class="list text-shadow box">
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Mathematics</span>-<span class="course">Statistics</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Chemistry</span>-<span class="course">Biochemistry</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Mathematics</span>-<span class="course">Applied Mathematics</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Biology</span>-<span class="course">Herbology</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Language and Linguistics</span>-<span class="course">Dutch</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Biology</span>-<span class="course">Neurobiology</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Chemistry</span>-<span class="course">Clinical Chemistry</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Mathematics</span>-<span class="course">Industrial Mathematics</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">History</span>-<span class="course">Art History</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Language and Linguistics</span>-<span class="course">Spanish</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Chemistry</span>-<span class="course">Computational Chemistry</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Mathematics</span>-<span class="course">Biomathematics</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">History</span>-<span class="course">Victorian Studies</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Biology</span>-<span class="course">Botany</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">History</span>-<span class="course">Genealogy</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Language and Linguistics</span>-<span class="course">Korean</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Mathematics</span>-<span class="course">Algorithms</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Language and Linguistics</span>-<span class="course">French</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">History</span>-<span class="course">Museology</span></div>
            <!--
            <item></item>
            -->
            <div class="list-item box"><span class="subject">Biology</span>-<span class="course">Cell Biology</span></div>
          </div>
          <!--
          <ios>button: show/hide panel</ios>
          -->
          <div class="jplist-ios-button"><i class="fa fa-sort"></i>jPList Actions</div>
          <!--
          <panel></panel>
          -->
          <div class="jplist-panel box panel-bottom">
            <div data-control-type="drop-down" data-control-name="paging" data-control-action="paging" data-control-animate-to-top="true" class="jplist-drop-down form-control">
              <ul class="dropdown-menu">
                <li><span data-number="3"> 3 per page</span></li>
                <li><span data-number="5"> 5 per page</span></li>
                <li><span data-number="10" data-default="true"> 10 per page</span></li>
                <li><span data-number="all"> view all</span></li>
              </ul>
            </div>
            <div data-type="{start} - {end} of {all}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging" class="jplist-label btn btn-default"></div>
            <div data-control-type="pagination" data-control-name="paging" data-control-action="paging" data-control-animate-to-top="true" class="jplist-pagination"></div>
          </div>
          <div class="box jplist-no-results text-shadow align-center">
            <p>No results found</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>