
<div style="height: 770px" class="row">
  <div class="col-lg-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <div id="external-events">
              <h4>Draggable Events</h4>
              <input id="event-name" type="text" value="" placeholder="Event name..." class="form-control"/><br/><a id="event-add" href="javascript:;" class="btn btn-primary btn-sm">Add Event</a>
              <hr/>
              <div id="event-box">
                <div class="external-event label label-default">My Event 1</div>
                <div class="external-event label label-default">My Event 2</div>
                <div class="external-event label label-default">My Event 3</div>
                <div class="external-event label label-default">My Event 4</div>
                <div class="external-event label label-default">My Event 5</div>
              </div>
              <div id="event-block"></div>
              <p>
                <input id="drop-remove" type="checkbox"/>&nbsp;
                <label for="drop-remove">Remove after drop</label>
              </p>
            </div>
          </div>
          <div class="col-md-9">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>