
<div class="row">
  <div class="col-lg-12">
    <ul id="galleryTab" ng-tab="" class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">4 Columns</a></li>
    </ul>
    <div id="galleryTabContent" class="tab-content">
      <div id="tab1" class="tab-pane fade in active">
        <ng-include src="'templates/states/_page-gallery/page-gallery-4-columns-tab.html'" onload="update_gallery()"></ng-include>
      </div>
    </div>
  </div>
</div>