
<div class="row">
  <div class="col-lg-12">
    <div class="note note-info">
      <h4 class="box-heading">Jeditable</h4>
      <p>Click "edit" button to change data row, then click "save" to apply. Using "delete" button to trash that row.</p>
      <p>Fill value into search form to find.</p>
    </div>
  </div>
  <div class="col-lg-12">       
    <div class="portlet box">
      <div class="portlet-header">
        <div class="caption">Datatable Editable</div>
      </div>
      <div class="portlet-body">
        <div class="table-responsive">
          <table id="example1" style="border-bottom:1px solid #ddd" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX">
                <td>Trident</td>
                <td>
                  Internet
                  Explorer 4.0
                </td>
                <td>Win 95+</td>
                <td class="center"> 4</td>
                <td class="center">X</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="even gradeC">
                <td>Trident</td>
                <td>
                  Internet
                  Explorer 5.0
                </td>
                <td>Win 95+</td>
                <td class="center">5</td>
                <td class="center">C</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="odd gradeA">
                <td>Trident</td>
                <td>
                  Internet
                  Explorer 5.5
                </td>
                <td>Win 95+</td>
                <td class="center">5.5</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="even gradeA">
                <td>Trident</td>
                <td>
                  Internet
                  Explorer 6
                </td>
                <td>Win 98+</td>
                <td class="center">6</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="odd gradeA">
                <td>Trident</td>
                <td>Internet Explorer 7</td>
                <td>Win XP SP2+</td>
                <td class="center">7</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="even gradeA">
                <td>Trident</td>
                <td>AOL browser (AOL desktop)</td>
                <td>Win XP</td>
                <td class="center">6</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Firefox 1.0</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Firefox 1.5</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Firefox 2.0</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Firefox 3.0</td>
                <td>Win 2k+ / OSX.3+</td>
                <td class="center">1.9</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Camino 1.0</td>
                <td>OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Camino 1.5</td>
                <td>OSX.3+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Netscape 7.2</td>
                <td>Win 95+ / Mac OS 8.6-9.2</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Netscape Browser 8</td>
                <td>Win 98SE+</td>
                <td class="center">1.7</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Netscape Navigator 9</td>
                <td>Win 98+ / OSX.2+</td>
                <td class="center">1.8</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
              <tr class="gradeA">
                <td>Gecko</td>
                <td>Mozilla 1.0</td>
                <td>Win 95+ / OSX.1+</td>
                <td class="center">1</td>
                <td class="center">A</td>
                <td><a href="javascript:;" class="edit">Edit</a></td>
                <td><a href="javascript:;" class="delete">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>