
<div class="row">
  <div class="col-lg-12">
    <div class="note note-info">
      <h4 class="box-heading">Responsive tab</h4>
      <p>Please resize browser to see tab version on Tablet & Mobile</p>
    </div>
  </div>
  <div ng-generaltab="" class="col-lg-12">
    <ul id="generalTab" class="nav nav-tabs ul-edit responsive">
      <li class="active"><a href="#alert-tab" data-toggle="tab">Alerts</a></li>
      <li><a href="#note-tab" data-toggle="tab">Notes</a></li>
      <li><a href="#label-badge-tab" data-toggle="tab">Labels & Badges</a></li>
      <li><a href="#pagination-tab" data-toggle="tab">Paginations</a></li>
      <li><a href="#input-group-tab" data-toggle="tab">Input Groups</a></li>
      <li><a href="#list-group-tab" data-toggle="tab">List Group</a></li>
      <li><a href="#navbar-tab" data-toggle="tab">Navbar</a></li>
      <li><a href="#thumbnail-tab" data-toggle="tab">Thumbnails</a></li>
      <li><a href="#other-tab" data-toggle="tab">Others</a></li>
    </ul>
    <div id="generalTabContent" class="tab-content responsive mtl">
      <div id="alert-tab" class="tab-pane fade in active">
        <ng-include src="'templates/states/_ui-generals/ui-generals-alert-tab.html'"></ng-include>
      </div>
      <div id="note-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-note-tab.html'"></ng-include>
      </div>
      <div id="label-badge-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-label-badge-tab.html'"></ng-include>
      </div>
      <div id="pagination-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-pagination-tab.html'"></ng-include>
      </div>
      <div id="input-group-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-input-group-tab.html'" onload="loadInputGroupTab();"></ng-include>
      </div>
      <div id="list-group-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-list-group-tab.html'"></ng-include>
      </div>
      <div id="navbar-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-navbar-tab.html'"></ng-include>
      </div>
      <div id="thumbnail-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-thumbnail-tab.html'"></ng-include>
      </div>
      <div id="other-tab" class="tab-pane fade">
        <ng-include src="'templates/states/_ui-generals/ui-generals-other-tab.html'"></ng-include>
      </div>
    </div>
  </div>
</div>