
<div class="row">
  <div class="col-lg-12">
    <ul id="icons-tab" ng-tab="" class="nav nav-tabs">
      <li class="active"><a href="#fontawesome-tab" data-toggle="tab">Font Awesome</a></li>
      <li><a href="#glyphicons-tab" data-toggle="tab">Glyphicons</a></li>
    </ul>
    <div id="icons-tab-content" class="tab-content">
      <div id="fontawesome-tab" class="tab-pane fade in active">
        <h3>11 New Icons in 4.0</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rub"></i>fa-rub</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ruble"></i>fa-ruble<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rouble"></i>fa-rouble<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pagelines"></i>fa-pagelines</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-stack-exchange"></i>fa-stack-exchange</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-right"></i>fa-arrow-circle-o-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-left"></i>fa-arrow-circle-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-left"></i>fa-caret-square-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-left"></i>fa-toggle-left<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dot-circle-o"></i>fa-dot-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-wheelchair"></i>fa-wheelchair</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-vimeo-square"></i>fa-vimeo-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-try"></i>fa-try</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-turkish-lira"></i>fa-turkish-lira<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-square-o"></i>fa-plus-square-o</a></div>
        </div>
        <h3>Web Application Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-adjust"></i>fa-adjust</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-anchor"></i>fa-anchor</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-archive"></i>fa-archive</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-asterisk"></i>fa-asterisk</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ban"></i>fa-ban</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bar-chart-o"></i>fa-bar-chart-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-barcode"></i>fa-barcode</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-beer"></i>fa-beer</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bell"></i>fa-bell</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bell-o"></i>fa-bell-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bolt"></i>fa-bolt</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-book"></i>fa-book</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bookmark"></i>fa-bookmark</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bookmark-o"></i>fa-bookmark-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-briefcase"></i>fa-briefcase</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bug"></i>fa-bug</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-building-o"></i>fa-building-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bullhorn"></i>fa-bullhorn</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bullseye"></i>fa-bullseye</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-calendar"></i>fa-calendar</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-calendar-o"></i>fa-calendar-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-camera"></i>fa-camera</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-camera-retro"></i>fa-camera-retro</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-down"></i>fa-caret-square-o-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-left"></i>fa-caret-square-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-right"></i>fa-caret-square-o-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-up"></i>fa-caret-square-o-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-certificate"></i>fa-certificate</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check"></i>fa-check</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-circle"></i>fa-check-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-circle-o"></i>fa-check-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-square"></i>fa-check-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-square-o"></i>fa-check-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-circle"></i>fa-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-circle-o"></i>fa-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-clock-o"></i>fa-clock-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cloud"></i>fa-cloud</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cloud-download"></i>fa-cloud-download</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cloud-upload"></i>fa-cloud-upload</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-code"></i>fa-code</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-code-fork"></i>fa-code-fork</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-coffee"></i>fa-coffee</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cog"></i>fa-cog</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cogs"></i>fa-cogs</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-comment"></i>fa-comment</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-comment-o"></i>fa-comment-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-comments"></i>fa-comments</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-comments-o"></i>fa-comments-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-compass"></i>fa-compass</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-credit-card"></i>fa-credit-card</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-crop"></i>fa-crop</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-crosshairs"></i>fa-crosshairs</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cutlery"></i>fa-cutlery</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dashboard"></i>fa-dashboard<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-desktop"></i>fa-desktop</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dot-circle-o"></i>fa-dot-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-download"></i>fa-download</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-edit"></i>fa-edit<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ellipsis-h"></i>fa-ellipsis-h</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ellipsis-v"></i>fa-ellipsis-v</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-envelope"></i>fa-envelope</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-envelope-o"></i>fa-envelope-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eraser"></i>fa-eraser</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-exchange"></i>fa-exchange</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-exclamation"></i>fa-exclamation</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-exclamation-circle"></i>fa-exclamation-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-exclamation-triangle"></i>fa-exclamation-triangle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-external-link"></i>fa-external-link</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-external-link-square"></i>fa-external-link-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eye"></i>fa-eye</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eye-slash"></i>fa-eye-slash</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-female"></i>fa-female</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-fighter-jet"></i>fa-fighter-jet</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-film"></i>fa-film</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-filter"></i>fa-filter</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-fire"></i>fa-fire</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-fire-extinguisher"></i>fa-fire-extinguisher</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flag"></i>fa-flag</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flag-checkered"></i>fa-flag-checkered</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flag-o"></i>fa-flag-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flash"></i>fa-flash<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flask"></i>fa-flask</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-folder"></i>fa-folder</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-folder-o"></i>fa-folder-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-folder-open"></i>fa-folder-open</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-folder-open-o"></i>fa-folder-open-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-frown-o"></i>fa-frown-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gamepad"></i>fa-gamepad</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gavel"></i>fa-gavel</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gear"></i>fa-gear<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gears"></i>fa-gears<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gift"></i>fa-gift</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-glass"></i>fa-glass</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-globe"></i>fa-globe</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-group"></i>fa-group</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hdd-o"></i>fa-hdd-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-headphones"></i>fa-headphones</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-heart"></i>fa-heart</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-heart-o"></i>fa-heart-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-home"></i>fa-home</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-inbox"></i>fa-inbox</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-info"></i>fa-info</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-info-circle"></i>fa-info-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-key"></i>fa-key</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-keyboard-o"></i>fa-keyboard-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-laptop"></i>fa-laptop</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-leaf"></i>fa-leaf</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-legal"></i>fa-legal<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-lemon-o"></i>fa-lemon-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-level-down"></i>fa-level-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-level-up"></i>fa-level-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-lightbulb-o"></i>fa-lightbulb-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-location-arrow"></i>fa-location-arrow</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-lock"></i>fa-lock</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-magic"></i>fa-magic</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-magnet"></i>fa-magnet</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-mail-forward"></i>fa-mail-forward<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-mail-reply"></i>fa-mail-reply<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-mail-reply-all"></i>fa-mail-reply-all</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-male"></i>fa-male</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-map-marker"></i>fa-map-marker</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-meh-o"></i>fa-meh-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-microphone"></i>fa-microphone</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-microphone-slash"></i>fa-microphone-slash</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus"></i>fa-minus</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus-circle"></i>fa-minus-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus-square"></i>fa-minus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus-square-o"></i>fa-minus-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-mobile"></i>fa-mobile</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-mobile-phone"></i>fa-mobile-phone<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-money"></i>fa-money</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-moon-o"></i>fa-moon-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-music"></i>fa-music</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pencil"></i>fa-pencil</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pencil-square"></i>fa-pencil-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pencil-square-o"></i>fa-pencil-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-phone"></i>fa-phone</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-phone-square"></i>fa-phone-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-picture-o"></i>fa-picture-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plane"></i>fa-plane</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus"></i>fa-plus</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-circle"></i>fa-plus-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-square"></i>fa-plus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-power-off"></i>fa-power-off</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-print"></i>fa-print</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-puzzle-piece"></i>fa-puzzle-piece</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-qrcode"></i>fa-qrcode</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-question"></i>fa-question</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-question-circle"></i>fa-question-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-quote-left"></i>fa-quote-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-quote-right"></i>fa-quote-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-random"></i>fa-random</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-refresh"></i>fa-refresh</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-reply"></i>fa-reply</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-reply-all"></i>fa-reply-all</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-retweet"></i>fa-retweet</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-road"></i>fa-road</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rocket"></i>fa-rocket</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rss"></i>fa-rss</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rss-square"></i>fa-rss-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-search"></i>fa-search</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-search-minus"></i>fa-search-minus</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-search-plus"></i>fa-search-plus</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-share"></i>fa-share</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-share-square"></i>fa-share-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-share-square-o"></i>fa-share-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-shield"></i>fa-shield</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-shopping-cart"></i>fa-shopping-cart</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sign-in"></i>fa-sign-in</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sign-out"></i>fa-sign-out</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-signal"></i>fa-signal</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sitemap"></i>fa-sitemap</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-smile-o"></i>fa-smile-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort"></i>fa-sort</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-alpha-asc"></i>fa-sort-alpha-asc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-alpha-desc"></i>fa-sort-alpha-desc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-amount-asc"></i>fa-sort-amount-asc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-amount-desc"></i>fa-sort-amount-desc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-asc"></i>fa-sort-asc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-desc"></i>fa-sort-desc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-down"></i>fa-sort-down<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-numeric-asc"></i>fa-sort-numeric-asc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-numeric-desc"></i>fa-sort-numeric-desc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sort-up"></i>fa-sort-up<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-spinner"></i>fa-spinner</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-square"></i>fa-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-square-o"></i>fa-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star"></i>fa-star</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star-half"></i>fa-star-half</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star-half-empty"></i>fa-star-half-empty<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star-half-full"></i>fa-star-half-full<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star-half-o"></i>fa-star-half-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-star-o"></i>fa-star-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-subscript"></i>fa-subscript</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-suitcase"></i>fa-suitcase</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-sun-o"></i>fa-sun-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-superscript"></i>fa-superscript</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tablet"></i>fa-tablet</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tachometer"></i>fa-tachometer</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tag"></i>fa-tag</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tags"></i>fa-tags</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tasks"></i>fa-tasks</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-terminal"></i>fa-terminal</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-thumb-tack"></i>fa-thumb-tack</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-thumbs-down"></i>fa-thumbs-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-thumbs-o-down"></i>fa-thumbs-o-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-thumbs-o-up"></i>fa-thumbs-o-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-thumbs-up"></i>fa-thumbs-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ticket"></i>fa-ticket</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-times"></i>fa-times</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-times-circle"></i>fa-times-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-times-circle-o"></i>fa-times-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tint"></i>fa-tint</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-down"></i>fa-toggle-down<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-left"></i>fa-toggle-left<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-right"></i>fa-toggle-right<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-up"></i>fa-toggle-up<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-trash-o"></i>fa-trash-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-trophy"></i>fa-trophy</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-truck"></i>fa-truck</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-umbrella"></i>fa-umbrella</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-unlock"></i>fa-unlock</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-unsorted"></i>fa-unsorted<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-upload"></i>fa-upload</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-user"></i>fa-user</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-video-camera"></i>fa-video-camera</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-volume-down"></i>fa-volume-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-volume-off"></i>fa-volume-off</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-volume-up"></i>fa-volume-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-warning"></i>fa-warning<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-wheelchair"></i>fa-wheelchair</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-wrench"></i>fa-wrench</a></div>
        </div>
        <h3>Form Control Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-square"></i>fa-check-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-check-square-o"></i>fa-check-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-circle"></i>fa-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-circle-o"></i>fa-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dot-circle-o"></i>fa-dot-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus-square"></i>fa-minus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-minus-square-o"></i>fa-minus-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-square"></i>fa-plus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-square-o"></i>fa-plus-square-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-square"></i>fa-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-square-o"></i>fa-square-o</a></div>
        </div>
        <h3>Currency Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bitcoin"></i>fa-bitcoin<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-btc"></i>fa-btc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cny"></i>fa-cny<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dollar"></i>fa-dollar<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eur"></i>fa-eur</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-euro"></i>fa-euro<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gbp"></i>fa-gbp</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-inr"></i>fa-inr</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-jpy"></i>fa-jpy</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-krw"></i>fa-krw</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-money"></i>fa-money</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rmb"></i>fa-rmb<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rouble"></i>fa-rouble<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rub"></i>fa-rub</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ruble"></i>fa-ruble<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rupee"></i>fa-rupee<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-try"></i>fa-try</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-turkish-lira"></i>fa-turkish-lira<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-usd"></i>fa-usd</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-won"></i>fa-won<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-yen"></i>fa-yen<span class="text-muted">(alias)</span></a></div>
        </div>
        <h3>Text Editor Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-align-center"></i>fa-align-center</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-align-justify"></i>fa-align-justify</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-align-left"></i>fa-align-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-align-right"></i>fa-align-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bold"></i>fa-bold</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chain"></i>fa-chain<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chain-broken"></i>fa-chain-broken</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-clipboard"></i>fa-clipboard</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-columns"></i>fa-columns</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-copy"></i>fa-copy<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-cut"></i>fa-cut<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dedent"></i>fa-dedent<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eraser"></i>fa-eraser</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-file"></i>fa-file</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-file-o"></i>fa-file-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-file-text"></i>fa-file-text</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-file-text-o"></i>fa-file-text-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-files-o"></i>fa-files-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-floppy-o"></i>fa-floppy-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-font"></i>fa-font</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-indent"></i>fa-indent</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-italic"></i>fa-italic</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-link"></i>fa-link</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-list"></i>fa-list</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-list-alt"></i>fa-list-alt</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-list-ol"></i>fa-list-ol</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-list-ul"></i>fa-list-ul</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-outdent"></i>fa-outdent</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-paperclip"></i>fa-paperclip</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-paste"></i>fa-paste<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-repeat"></i>fa-repeat</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rotate-left"></i>fa-rotate-left<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-rotate-right"></i>fa-rotate-right<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-save"></i>fa-save<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-scissors"></i>fa-scissors</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-strikethrough"></i>fa-strikethrough</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-table"></i>fa-table</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-text-height"></i>fa-text-height</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-text-width"></i>fa-text-width</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-th"></i>fa-th</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-th-large"></i>fa-th-large</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-th-list"></i>fa-th-list</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-underline"></i>fa-underline</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-undo"></i>fa-undo</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-unlink"></i>fa-unlink<span class="text-muted">(alias)</span></a></div>
        </div>
        <h3>Directional Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-double-down"></i>fa-angle-double-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-double-left"></i>fa-angle-double-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-double-right"></i>fa-angle-double-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-double-up"></i>fa-angle-double-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-down"></i>fa-angle-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-left"></i>fa-angle-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-right"></i>fa-angle-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-angle-up"></i>fa-angle-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-down"></i>fa-arrow-circle-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-left"></i>fa-arrow-circle-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-down"></i>fa-arrow-circle-o-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-left"></i>fa-arrow-circle-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-right"></i>fa-arrow-circle-o-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-o-up"></i>fa-arrow-circle-o-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-right"></i>fa-arrow-circle-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-circle-up"></i>fa-arrow-circle-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-down"></i>fa-arrow-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-left"></i>fa-arrow-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-right"></i>fa-arrow-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrow-up"></i>fa-arrow-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-down"></i>fa-caret-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-left"></i>fa-caret-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-right"></i>fa-caret-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-down"></i>fa-caret-square-o-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-left"></i>fa-caret-square-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-right"></i>fa-caret-square-o-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-square-o-up"></i>fa-caret-square-o-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-caret-up"></i>fa-caret-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-circle-down"></i>fa-chevron-circle-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-circle-left"></i>fa-chevron-circle-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-circle-right"></i>fa-chevron-circle-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-circle-up"></i>fa-chevron-circle-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-down"></i>fa-chevron-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-left"></i>fa-chevron-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-right"></i>fa-chevron-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-chevron-up"></i>fa-chevron-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hand-o-down"></i>fa-hand-o-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hand-o-left"></i>fa-hand-o-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hand-o-right"></i>fa-hand-o-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hand-o-up"></i>fa-hand-o-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-long-arrow-down"></i>fa-long-arrow-down</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-long-arrow-left"></i>fa-long-arrow-left</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-long-arrow-right"></i>fa-long-arrow-right</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-long-arrow-up"></i>fa-long-arrow-up</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-down"></i>fa-toggle-down<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-left"></i>fa-toggle-left<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-right"></i>fa-toggle-right<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-toggle-up"></i>fa-toggle-up<span class="text-muted">(alias)</span></a></div>
        </div>
        <h3>Video Player Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-arrows-alt"></i>fa-arrows-alt</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-backward"></i>fa-backward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-compress"></i>fa-compress</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-eject"></i>fa-eject</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-expand"></i>fa-expand</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-fast-backward"></i>fa-fast-backward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-fast-forward"></i>fa-fast-forward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-forward"></i>fa-forward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pause"></i>fa-pause</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-play"></i>fa-play</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-play-circle"></i>fa-play-circle</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-play-circle-o"></i>fa-play-circle-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-step-backward"></i>fa-step-backward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-step-forward"></i>fa-step-forward</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-stop"></i>fa-stop</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-youtube-play"></i>fa-youtube-play</a></div>
        </div>
        <h3>Brand Icons</h3>
        <div class="note note-success">
          <ul class="mbn list-unstyled">
            <li>All brand icons are trademarks of their respective owners.</li>
            <li>
              The use of these trademarks does not indicate endorsement
              of the trademark holder by Font Awesome, nor vice versa.
            </li>
          </ul>
        </div>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-adn"></i>fa-adn</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-android"></i>fa-android</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-apple"></i>fa-apple</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bitbucket"></i>fa-bitbucket</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bitbucket-square"></i>fa-bitbucket-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-bitcoin"></i>fa-bitcoin<span class="text-muted">(alias)</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-btc"></i>fa-btc</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-css3"></i>fa-css3</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dribbble"></i>fa-dribbble</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-dropbox"></i>fa-dropbox</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-facebook"></i>fa-facebook</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-facebook-square"></i>fa-facebook-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-flickr"></i>fa-flickr</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-foursquare"></i>fa-foursquare</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-github"></i>fa-github</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-github-alt"></i>fa-github-alt</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-github-square"></i>fa-github-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-gittip"></i>fa-gittip</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-google-plus"></i>fa-google-plus</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-google-plus-square"></i>fa-google-plus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-html5"></i>fa-html5</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-instagram"></i>fa-instagram</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-linkedin"></i>fa-linkedin</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-linkedin-square"></i>fa-linkedin-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-linux"></i>fa-linux</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-maxcdn"></i>fa-maxcdn</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pagelines"></i>fa-pagelines</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pinterest"></i>fa-pinterest</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-pinterest-square"></i>fa-pinterest-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-renren"></i>fa-renren</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-skype"></i>fa-skype</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-stack-exchange"></i>fa-stack-exchange</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-stack-overflow"></i>fa-stack-overflow</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-trello"></i>fa-trello</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tumblr"></i>fa-tumblr</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-tumblr-square"></i>fa-tumblr-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-twitter"></i>fa-twitter</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-twitter-square"></i>fa-twitter-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-vimeo-square"></i>fa-vimeo-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-vk"></i>fa-vk</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-weibo"></i>fa-weibo</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-windows"></i>fa-windows</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-xing"></i>fa-xing</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-xing-square"></i>fa-xing-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-youtube"></i>fa-youtube</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-youtube-play"></i>fa-youtube-play</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-youtube-square"></i>fa-youtube-square</a></div>
        </div>
        <h3>Medical Icons</h3>
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-ambulance"></i>fa-ambulance</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-h-square"></i>fa-h-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-hospital-o"></i>fa-hospital-o</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-medkit"></i>fa-medkit</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-plus-square"></i>fa-plus-square</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-stethoscope"></i>fa-stethoscope</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-user-md"></i>fa-user-md</a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="fa fa-wheelchair"></i>fa-wheelchair</a></div>
        </div>
      </div>
      <div id="glyphicons-tab" class="tab-pane fade">
        <div class="row row-icons">
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-adjust"></i><span>glyphicon-adjust</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-align-center"></i><span>glyphicon-align-center</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-align-justify"></i><span>glyphicon-align-justify</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-align-left"></i><span>glyphicon-align-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-align-right"></i><span>glyphicon-align-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-arrow-down"></i><span>glyphicon-arrow-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-arrow-left"></i><span>glyphicon-arrow-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-arrow-right"></i><span>glyphicon-arrow-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-arrow-up"></i><span>glyphicon-arrow-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-asterisk"></i><span>glyphicon-asterisk</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-backward"></i><span>glyphicon-backward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-ban-circle"></i><span>glyphicon-ban-circle</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-barcode"></i><span>glyphicon-barcode</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-bell"></i><span>glyphicon-bell</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-bold"></i><span>glyphicon-bold</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-book"></i><span>glyphicon-book</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-bookmark"></i><span>glyphicon-bookmark</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-briefcase"></i><span>glyphicon-briefcase</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-bullhorn"></i><span>glyphicon-bullhorn</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-calendar"></i><span>glyphicon-calendar</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-camera"></i><span>glyphicon-camera</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-certificate"></i><span>glyphicon-certificate</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-check"></i><span>glyphicon-check</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-chevron-down"></i><span>glyphicon-chevron-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-chevron-left"></i><span>glyphicon-chevron-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-chevron-right"></i><span>glyphicon-chevron-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-chevron-up"></i><span>glyphicon-chevron-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-circle-arrow-down"></i><span>glyphicon-circle-arrow-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-circle-arrow-left"></i><span>glyphicon-circle-arrow-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-circle-arrow-right"></i><span>glyphicon-circle-arrow-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-circle-arrow-up"></i><span>glyphicon-circle-arrow-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-cloud"></i><span>glyphicon-cloud</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-cloud-download"></i><span>glyphicon-cloud-download</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-cloud-upload"></i><span>glyphicon-cloud-upload</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-cog"></i><span>glyphicon-cog</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-collapse-down"></i><span>glyphicon-collapse-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-collapse-up"></i><span>glyphicon-collapse-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-comment"></i><span>glyphicon-comment</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-compressed"></i><span>glyphicon-compressed</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-copyright-mark"></i><span>glyphicon-copyright-mark</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-credit-card"></i><span>glyphicon-credit-card</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-cutlery"></i><span>glyphicon-cutlery</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-dashboard"></i><span>glyphicon-dashboard</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-download"></i><span>glyphicon-download</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-download-alt"></i><span>glyphicon-download-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-earphone"></i><span>glyphicon-earphone</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-edit"></i><span>glyphicon-edit</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-eject"></i><span>glyphicon-eject</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-envelope"></i><span>glyphicon-envelope</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-euro"></i><span>glyphicon-euro</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-exclamation-sign"></i><span>glyphicon-exclamation-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-expand"></i><span>glyphicon-expand</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-export"></i><span>glyphicon-export</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-eye-close"></i><span>glyphicon-eye-close</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-eye-open"></i><span>glyphicon-eye-open</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-facetime-video"></i><span>glyphicon-facetime-video</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-fast-backward"></i><span>glyphicon-fast-backward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-fast-forward"></i><span>glyphicon-fast-forward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-file"></i><span>glyphicon-file</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-film"></i><span>glyphicon-film</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-filter"></i><span>glyphicon-filter</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-fire"></i><span>glyphicon-fire</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-flag"></i><span>glyphicon-flag</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-flash"></i><span>glyphicon-flash</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-floppy-disk"></i><span>glyphicon-floppy-disk</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-floppy-open"></i><span>glyphicon-floppy-open</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-floppy-remove"></i><span>glyphicon-floppy-remove</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-floppy-save"></i><span>glyphicon-floppy-save</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-floppy-saved"></i><span>glyphicon-floppy-saved</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-folder-close"></i><span>glyphicon-folder-close</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-folder-open"></i><span>glyphicon-folder-open</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-font"></i><span>glyphicon-font</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-forward"></i><span>glyphicon-forward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-fullscreen"></i><span>glyphicon-fullscreen</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-gbp"></i><span>glyphicon-gbp</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-gift"></i><span>glyphicon-gift</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-glass"></i><span>glyphicon-glass</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-globe"></i><span>glyphicon-globe</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hand-down"></i><span>glyphicon-hand-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hand-left"></i><span>glyphicon-hand-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hand-right"></i><span>glyphicon-hand-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hand-up"></i><span>glyphicon-hand-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hd-video"></i><span>glyphicon-hd-video</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-hdd"></i><span>glyphicon-hdd</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-header"></i><span>glyphicon-header</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-headphones"></i><span>glyphicon-headphones</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-heart"></i><span>glyphicon-heart</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-heart-empty"></i><span>glyphicon-heart-empty</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-home"></i><span>glyphicon-home</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-import"></i><span>glyphicon-import</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-inbox"></i><span>glyphicon-inbox</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-indent-left"></i><span>glyphicon-indent-left</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-indent-right"></i><span>glyphicon-indent-right</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-info-sign"></i><span>glyphicon-info-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-italic"></i><span>glyphicon-italic</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-leaf"></i><span>glyphicon-leaf</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-link"></i><span>glyphicon-link</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-list"></i><span>glyphicon-list</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-list-alt"></i><span>glyphicon-list-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-lock"></i><span>glyphicon-lock</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-log-in"></i><span>glyphicon-log-in</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-log-out"></i><span>glyphicon-log-out</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-magnet"></i><span>glyphicon-magnet</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-map-marker"></i><span>glyphicon-map-marker</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-minus"></i><span>glyphicon-minus</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-minus-sign"></i><span>glyphicon-minus-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-move"></i><span>glyphicon-move</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-music"></i><span>glyphicon-music</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-new-window"></i><span>glyphicon-new-window</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-off"></i><span>glyphicon-off</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-ok"></i><span>glyphicon-ok</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-ok-circle"></i><span>glyphicon-ok-circle</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-ok-sign"></i><span>glyphicon-ok-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-open"></i><span>glyphicon-open</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-paperclip"></i><span>glyphicon-paperclip</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-pause"></i><span>glyphicon-pause</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-pencil"></i><span>glyphicon-pencil</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-phone"></i><span>glyphicon-phone</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-phone-alt"></i><span>glyphicon-phone-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-picture"></i><span>glyphicon-picture</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-plane"></i><span>glyphicon-plane</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-play"></i><span>glyphicon-play</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-play-circle"></i><span>glyphicon-play-circle</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-plus"></i><span>glyphicon-plus</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-plus-sign"></i><span>glyphicon-plus-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-print"></i><span>glyphicon-print</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-pushpin"></i><span>glyphicon-pushpin</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-qrcode"></i><span>glyphicon-qrcode</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-question-sign"></i><span>glyphicon-question-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-random"></i><span>glyphicon-random</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-record"></i><span>glyphicon-record</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-refresh"></i><span>glyphicon-refresh</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-registration-mark"></i><span>glyphicon-registration-mark</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-remove"></i><span>glyphicon-remove</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-remove-circle"></i><span>glyphicon-remove-circle</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-remove-sign"></i><span>glyphicon-remove-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-repeat"></i><span>glyphicon-repeat</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-resize-full"></i><span>glyphicon-resize-full</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-resize-horizontal"></i><span>glyphicon-resize-horizontal</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-resize-small"></i><span>glyphicon-resize-small</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-resize-vertical"></i><span>glyphicon-resize-vertical</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-retweet"></i><span>glyphicon-retweet</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-road"></i><span>glyphicon-road</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-save"></i><span>glyphicon-save</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-saved"></i><span>glyphicon-saved</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-screenshot"></i><span>glyphicon-screenshot</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sd-video"></i><span>glyphicon-sd-video</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-search"></i><span>glyphicon-search</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-send"></i><span>glyphicon-send</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-share"></i><span>glyphicon-share</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-share-alt"></i><span>glyphicon-share-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-shopping-cart"></i><span>glyphicon-shopping-cart</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-signal"></i><span>glyphicon-signal</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort"></i><span>glyphicon-sort</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-alphabet"></i><span>glyphicon-sort-by-alphabet</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-alphabet-alt"></i><span>glyphicon-sort-by-alphabet-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-attributes"></i><span>glyphicon-sort-by-attributes</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-attributes-alt"></i><span>glyphicon-sort-by-attributes-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-order"></i><span>glyphicon-sort-by-order</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sort-by-order-alt"></i><span>glyphicon-sort-by-order-alt</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sound-5-1"></i><span>glyphicon-sound-5-1</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sound-6-1"></i><span>glyphicon-sound-6-1</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sound-7-1"></i><span>glyphicon-sound-7-1</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sound-dolby"></i><span>glyphicon-sound-dolby</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-sound-stereo"></i><span>glyphicon-sound-stereo</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-star"></i><span>glyphicon-star</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-star-empty"></i><span>glyphicon-star-empty</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-stats"></i><span>glyphicon-stats</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-step-backward"></i><span>glyphicon-step-backward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-step-forward"></i><span>glyphicon-step-forward</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-stop"></i><span>glyphicon-stop</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-subtitles"></i><span>glyphicon-subtitles</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tag"></i><span>glyphicon-tag</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tags"></i><span>glyphicon-tags</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tasks"></i><span>glyphicon-tasks</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-text-height"></i><span>glyphicon-text-height</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-text-width"></i><span>glyphicon-text-width</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-th"></i><span>glyphicon-th</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-th-large"></i><span>glyphicon-th-large</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-th-list"></i><span>glyphicon-th-list</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-thumbs-down"></i><span>glyphicon-thumbs-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-thumbs-up"></i><span>glyphicon-thumbs-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-time"></i><span>glyphicon-time</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tint"></i><span>glyphicon-tint</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tower"></i><span>glyphicon-tower</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-transfer"></i><span>glyphicon-transfer</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-trash"></i><span>glyphicon-trash</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tree-conifer"></i><span>glyphicon-tree-conifer</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-tree-deciduous"></i><span>glyphicon-tree-deciduous</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-unchecked"></i><span>glyphicon-unchecked</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-upload"></i><span>glyphicon-upload</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-usd"></i><span>glyphicon-usd</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-user"></i><span>glyphicon-user</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-volume-down"></i><span>glyphicon-volume-down</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-volume-off"></i><span>glyphicon-volume-off</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-volume-up"></i><span>glyphicon-volume-up</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-warning-sign"></i><span>glyphicon-warning-sign</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-wrench"></i><span>glyphicon-wrench</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-zoom-in"></i><span>glyphicon-zoom-in</span></a></div>
          <div class="col-md-3 col-sm-4"><a href=""><i class="glyphicon glyphicon-zoom-out"></i><span>glyphicon-zoom-out</span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>