
<div class="row">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-body pan">
        <form action="#" class="form-horizontal form-bordered">
          <div class="form-body">
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Default</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-default" data-toggle="modal" class="btn btn-primary">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Responsive</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-responsive" data-toggle="modal" class="btn btn-yellow">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Stackable</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-stackable" data-toggle="modal" class="btn btn-green">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Full Width</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-full-width" data-toggle="modal" class="btn btn-blue">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Wide Width</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-wide-width" data-toggle="modal" class="btn btn-primary">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Static Background</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-static" data-toggle="modal" class="btn btn-yellow">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Left Footer</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-left-footer" data-toggle="modal" class="btn btn-blue">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Header Primary</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-header-primary" data-toggle="modal" class="btn btn-green">View Demo</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-body pan">
        <form action="#" class="form-horizontal form-bordered">
          <div class="form-body">
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Long Modals</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-long" data-toggle="modal" class="btn btn-green">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Alert</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-alert" data-toggle="modal" class="btn btn-blue">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Confirm</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-confirm" data-toggle="modal" class="btn btn-primary">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Custom Dialog</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-custom-dialog" data-toggle="modal" class="btn btn-yellow">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Login</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-login" data-toggle="modal" class="btn btn-green">View Demo</button>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-md-3 control-label">Prompt</label>
              <div class="col-md-4">
                <button type="button" data-target="#modal-prompt" data-toggle="modal" class="btn btn-blue">View Demo</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>