
<div class="row">
  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-body"><strong class="text-uppercase">Panel without Heading & Footer</strong><br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Heading without title</div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="panel panel-orange">
      <div class="panel-heading"><i class="fa fa-paper-plane-o"></i>&nbsp;
        Heading with Icon
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">Panel Heading with Subtitle<span class="subtitle">Subtitle examples...</span></div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">Panel Heading with Subtitle
        <p class="subtitle mln">Subtitle examples...</p>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-red">
      <div class="panel-heading clearfix"><span class="mts pull-left">Panel Heading with Input</span>
        <div class="toolbars">
          <div class="input-icon right"><i class="fa fa-search"></i>
            <input type="text" placeholder="Search" class="form-control input-medium"/>
          </div>
        </div>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-yellow">
      <div class="panel-heading clearfix"><span class="mts pull-left">Panel Heading with Dropdown</span>
        <div class="toolbars">
          <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-white btn-sm dropdown-toggle"><i class="fa fa-cogs"></i>&nbsp;
              Setting
              &nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
              <li><a href="#"><i class="fa fa-pencil"></i>&nbsp;
                  Edit</a></li>
              <li><a href="#"><i class="fa fa-trash-o"></i>&nbsp;
                  Delete</a></li>
              <li><a href="#"><i class="fa fa-refresh"></i>&nbsp;
                  Update</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-blue">
      <div class="panel-heading clearfix"><span class="mts pull-left">Panel Heading with Button Group</span>
        <div class="toolbars">
          <div class="btn-group">
            <button type="button" class="btn btn-white"><i class="fa fa-align-left"></i></button>
            <button type="button" class="btn btn-white"><i class="fa fa-align-center"></i></button>
            <button type="button" class="btn btn-white"><i class="fa fa-align-right"></i></button>
          </div>
        </div>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-green">
      <div class="panel-heading clearfix"><span class="mts pull-left">Panel Heading with Dropdown</span>
        <div class="toolbars">
          <div class="btn-group mts"><a href="javascript:;"><i class="fa fa-cogs"></i></a><a href="javascript:;"><i class="fa fa-edit"></i></a><a href="javascript:;"><i class="fa fa-download"></i></a><a href="javascript:;"><i class="fa fa-paperclip"></i></a></div>
        </div>
      </div>
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
    </div>
  </div>
</div>