
<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-white">
      <div class="panel-heading">General</div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <h3>Sample Text</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.</p>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <div class="clearfix"></div>
            <h3>Sample text with lead body</h3>
            <p class="lead">Lead body. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla.</p>
            <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>
            <div class="clearfix"></div>
            <h3>More Text</h3>
            <p><small>Small text.</small> Lorem ipsum dolor
            </p>
            <p>Lorem ipsum dolor sit amet <strong>Bold text</strong>
            </p>
            <p><em>Italic text.</em> Lorem ipsum dolor
            </p>
            <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>
            </p>
            <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr> is the best thing since sliced bread.
            </p>
          </div>
          <div class="col-md-6">
            <h3>Text States</h3>
            <p class="text-muted">Muted text Lorem ipsum dolor sit</p>
            <p class="text-primary">Primary text Lorem ipsum dolor sit</p>
            <p class="text-red">Red text Lorem ipsum dolor sit</p>
            <p class="text-orange">Orange text Lorem ipsum Lorem dolor sit</p>
            <p class="text-green">Green text Lorem ipsum dolor sit</p>
            <p class="text-yellow">Yellow text Lorem ipsum dolor sit</p>
            <p class="text-blue">Blue text Lorem ipsum dolor sit</p>
            <p class="text-success">Success text Lorem ipsum dolor sit</p>
            <p class="text-warning">Warning text Lorem ipsum dolor sit</p>
            <p class="text-info">Info text Lorem ipsum dolor sit</p>
            <p class="text-danger">Danger text Lorem ipsum dolor sit</p>
            <div class="clearfix"></div>
            <h3>Heading</h3>
            <h1>h1.Heading 1</h1>
            <h2>h2.Heading 2</h2>
            <h3>h3.Heading 3</h3>
            <h4>h4.Heading 4</h4>
            <h5>h5.Heading 5</h5>
            <h6>h6.Heading 6</h6>
            <div class="clearfix"></div>
            <h3>Address</h3>
            <div class="well">
              <address><strong>Twitter, Inc.</strong><br/>795 Folsom Ave, Suite 600<br/>San Francisco, CA 94107<br/><abbr title="Phone">P:</abbr>(123) 456-7890</address>
              <address><strong>Full Name</strong><br/><a href="mailto:#">first.last@example.com</a></address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Blockquotes</div>
      <div class="panel-body">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer>Someone famous in
            <cite title="Source Title">Source Title</cite>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Alignments</div>
      <div class="panel-body">
        <p class="text-left">Left aligned text.</p>
        <p class="text-center">Center aligned text.</p>
        <p class="text-right">Right aligned text.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-white">
      <div class="panel-heading">Ordered Lists</div>
      <div class="panel-body">
        <ol>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ol>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Unordered Lists</div>
      <div class="panel-body">
        <ul>
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit
            <ul>
              <li>Phasellus iaculis neque</li>
              <li>Purus sodales ultricies</li>
              <li>Vestibulum laoreet porttitor sem</li>
              <li>Ac tristique libero volutpat at</li>
            </ul>
          </li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Lists With Font Awesome</div>
      <div class="panel-body">
        <ul class="list-icon">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Unstyled Lists</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>Lorem ipsum dolor sit amet</li>
          <li>Consectetur adipiscing elit</li>
          <li>Integer molestie lorem at massa</li>
          <li>Facilisis in pretium nisl aliquet</li>
          <li>Nulla volutpat aliquam velit</li>
          <li>Faucibus porta lacus fringilla vel</li>
          <li>Aenean sit amet erat nunc</li>
          <li>Eget porttitor lorem</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Inline Lists</div>
      <div class="panel-body">
        <ol class="list-inline">
          <li>1.Lorem ipsum</li>
          <li>2.Consectetur</li>
          <li>3.Integer</li>
        </ol>
      </div>
    </div>
    <div class="panel panel-white">
      <div class="panel-heading">Description Lists</div>
      <div class="panel-body">
        <dl>
          <dt>Description lists</dt>
          <dd>A description list is perfect for defining terms.</dd>
          <dt>Euismod</dt>
          <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
          <dd>Donec id elit non mi porta gravida at eget metus.</dd>
          <dt>Malesuada porta</dt>
          <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
        </dl>
      </div>
    </div>
  </div>
</div>