
<div class="row">
  <div class="col-lg-12">
    <h3>Family Treeview - Horizontal</h3>
    <div class="family-tree-horizontal">
      <ul>
        <li><a href="#">Parent</a>
          <ul>
            <li><a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
            <li><a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
                <li><a href="#">Grand Child</a>
                  <ul>
                    <li><a href="#">Great Grand Child</a></li>
                    <li><a href="#">Great Grand Child</a></li>
                    <li><a href="#">Great Grand Child</a></li>
                  </ul>
                </li>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-lg-12">
    <h3>Family Treeview - Vertical</h3>
    <div class="family-tree-vertical">
      <ul>
        <li><a href="#">Parent</a>
          <ul>
            <li><a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
            <li><a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
                <li><a href="#">Grand Child</a>
                  <ul>
                    <li><a href="#">Great Grand Child</a></li>
                    <li><a href="#">Great Grand Child</a></li>
                    <li><a href="#">Great Grand Child</a></li>
                  </ul>
                </li>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>