
<div class="row">
  <div class="col-lg-6">
    <h3>Tooltip</h3>
    <button type="button" data-toggle="tooltip" data-placement="left" title="Tooltip on left" class="btn btn-default mbs">Tooltip on left</button>&nbsp;
    <button type="button" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="btn btn-default mbs">Tooltip on top</button>&nbsp;
    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" class="btn btn-default mbs">Tooltip on bottom</button>&nbsp;
    <button type="button" data-toggle="tooltip" data-placement="right" title="Tooltip on right" class="btn btn-default mbs">Tooltip on right</button>
  </div>
  <div class="col-lg-6">
    <h3>Popovers</h3>
    <button type="button" data-container="body" data-toggle="popover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-default mbs">Popover on left</button>&nbsp;
    <button type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-default mbs">Popover on top</button>&nbsp;
    <button type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-default mbs">Popover on bottom</button>&nbsp;
    <button type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." class="btn btn-default mbs">Popover on right</button>
  </div>
</div>
<div class="mbxl"></div>
<div class="row">
  <div class="col-lg-4">
    <h3>Large Well</h3>
    <div class="well well-lg">Look, I'm in a large well!</div>
  </div>
  <div class="col-lg-4">
    <h3>Default Well</h3>
    <div class="well">Look, I'm in a well!</div>
  </div>
  <div class="col-lg-4">
    <h3>Small Well</h3>
    <div class="well well-sm">Look, I'm in a small well!</div>
  </div>
</div>
<div class="mbxl"></div>
<div class="row">
  <div class="col-lg-6">
    <h3>Media object</h3>
    <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" class="media-object"/></a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
    <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
      <div class="media-body">
        <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
          <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h3>Media List</h3>
    <ul class="media-list">
      <li class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
              </div>
            </div>
          </div>
          <div class="media"><a href="#" class="pull-left"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
          </div>
        </div>
      </li>
      <li class="media"><a href="#" class="pull-right"><img data-src="holder.js/64x64/text:avatar" alt="64x64" class="media-object"/></a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        </div>
      </li>
    </ul>
  </div>
</div>