
<div class="row">
  <div class="col-lg-6">
    <div class="note note-success">
      <h3>Success! Duis mollis, est non commodo luctus</h3>
      <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
    <div class="note note-info">
      <h3>Info! Duis mollis, est non commodo luctus</h3>
      <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="note note-warning">
      <h3>Warning! Duis mollis, est non commodo luctus</h3>
      <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
    <div class="note note-danger">
      <h3>Dangerous! Duis mollis, est non commodo luctus</h3>
      <p>Nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>
  </div>
</div>