
<h3>Default Thumbnails</h3>
<div class="row">
  <div class="col-sm-6 col-md-3"><a href="#" class="thumbnail"><img data-src="holder.js/300x180/text:hello"/></a></div>
  <div class="col-sm-6 col-md-3"><a href="#" class="thumbnail"><img data-src="holder.js/300x180/text:hello"/></a></div>
  <div class="col-sm-6 col-md-3"><a href="#" class="thumbnail"><img data-src="holder.js/300x180/text:hello"/></a></div>
  <div class="col-sm-6 col-md-3"><a href="#" class="thumbnail"><img data-src="holder.js/300x180/text:hello"/></a></div>
</div>
<h3>Custom Content</h3>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><img data-src="holder.js/300x200/text:hello"/>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" role="button" class="btn btn-primary">Button</a>&nbsp;<a href="#" role="button" class="btn btn-default">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><img data-src="holder.js/300x200/text:hello"/>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" role="button" class="btn btn-primary">Button</a>&nbsp;<a href="#" role="button" class="btn btn-default">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><img data-src="holder.js/300x200/text:hello"/>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" role="button" class="btn btn-primary">Button</a>&nbsp;<a href="#" role="button" class="btn btn-default">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail"><img data-src="holder.js/300x200/text:hello" alt="..."/>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" role="button" class="btn btn-primary">Button</a>&nbsp;<a href="#" role="button" class="btn btn-default">Button</a></p>
      </div>
    </div>
  </div>
</div>
<script src="vendors/holder/holder.js"></script>