
<form action="#" class="form-horizontal form-bordered">
  <div class="form-body">
    <div class="form-group">
      <label class="col-md-3 control-label">Default</label>
      <div class="col-md-6">
        <div id="slider-default" class="slider"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Range</label>
      <div class="col-md-6">
        <p>
          <label for="amount">Price range:</label>
          <input id="amount" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-range"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">
        Multiple
        sliders
      </label>
      <div class="col-md-6">
        <div id="slider-multi" class="slider"><span>88</span><span>77</span><span>55</span><span>33</span><span>40</span><span>45</span><span>70</span></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Maximum</label>
      <div class="col-md-6">
        <p>
          <label for="amount">Maximum Value:</label>
          <input id="amount-max" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-range-max" class="slider"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Minimum</label>
      <div class="col-md-6">
        <p>
          <label for="amount">Minimum Value:</label>
          <input id="amount-min" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-range-min" class="slider"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">
        Snap to
        increments
      </label>
      <div class="col-md-6">
        <p>
          <label for="amount-snap">
            Donation amount ($50
            increments):
          </label>
          <input id="amount-snap" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-snap" class="slider"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">
        Vertical
        slider
      </label>
      <div class="col-md-6">
        <p>
          <label for="amount-vertical">Volume:</label>
          <input id="amount-vertical" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-vertical" style="height: 200px;" class="slider"></div>
      </div>
    </div>
    <div class="form-group last">
      <label class="col-md-3 control-label">
        Vertical range
        slider
      </label>
      <div class="col-md-6">
        <p>
          <label for="amount-vertical-range">
            Target sales goal
            (Millions):
          </label>
          <input id="amount-vertical-range" type="text" style="border: 0; color: #f6931f; font-weight: bold;"/>
        </p>
        <div id="slider-vertical-range" style="height: 200px;" class="slider"></div>
      </div>
    </div>
  </div>
</form>