
<form action="#" class="form-horizontal form-bordered">
  <div class="form-body">
    <div class="form-group">
      <label class="col-md-3 control-label">Default</label>
      <div class="col-md-6">
        <input id="example-1" type="text" name="example1" value="10000;100000"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Range 1</label>
      <div class="col-md-6">
        <input id="example-2" type="text" name="example2" value=""/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Range 2</label>
      <div class="col-md-6">
        <input id="example-3" type="text" name="example3" value="1000;100000" data-type="double" data-step="500" data-postfix=" €" data-from="30000" data-to="90000" data-hasgrid="true"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Length Slider</label>
      <div class="col-md-6">
        <input id="example-4" type="text" name="example4" value=""/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Temperature Slider</label>
      <div class="col-md-6">
        <input id="example-5" type="text" name="example5" value=""/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Month Slider</label>
      <div class="col-md-6">
        <input id="example-6" type="text" name="example6" value=""/>
      </div>
    </div>
  </div>
</form>