
<div class="row">
  <div class="col-lg-4">
    <h3 class="mtn">Header Default</h3>
    <table class="table table-hover table-bordered table-advanced">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Warning</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="warning">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Red</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="red">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Yellow</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="yellow">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Violet</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="violet">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header White</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="white">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <h3 class="mtn">Header Primary</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="primary">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Info</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="info">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Orange</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="orange">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Blue</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="blue">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Grey</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="grey">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-4">
    <h3 class="mtn">Header Success</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="success">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Danger</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="danger">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Green</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="green">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Pink</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="pink">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
    <hr class="mtxl mbxl"/>
    <h3>Header Dark</h3>
    <table class="table table-hover table-advanced table-bordered">
      <thead class="dark">
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Age</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Henry</td>
          <td>23</td>
          <td><span class="label label-sm label-default">Approved</span></td>
        </tr>
        <tr>
          <td>2</td>
          <td>John</td>
          <td>45</td>
          <td><span class="label label-sm label-default">Pending</span></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Larry</td>
          <td>30</td>
          <td><span class="label label-sm label-default">Suspended</span></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Lahm</td>
          <td>15</td>
          <td><span class="label label-sm label-default">Blocked</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>