﻿@{
    ViewBag.Title = "Hakkımızda";
}
<table border="0" width="100%">
    <tbody>
        <tr>
            <td><a href="https://www.facebook.com/cscgrup?fref=ts" target="_blank"><img src="http://csc.com.tr/images/csc/anasayfa/facebook.png" border="0" style="border: 0;" /></a></td>
            <td style="text-align: justify;">
                <img src="http://csc.com.tr/images/csc/hp.png" border="0" width="250" style="float: right; border: 0; margin-left: 7px; margin-right: 7px;" />
                Csc Grup - Computer System Center yazılım ve bilgi teknolojileri  konusunda entegre çözümler ve hizmetler sunmaktadır. Müşterilerin bilgi  işlem teknolojilerini kullanarak iş verimliliklerini artirmayi hedefler,  bu hedefe ulaşılabilmesini sağlamak amacı ile gerekli katma degerleri  üretir. Günümüzde giderek artan iş yapım maliyetlerini asağıya çekerek  giderleri azaltmak için teknolojik çözümler üreterek müşterilerinin  rekabet gücünü ve hizmet kalitesini artirmak baslica hedefimizdir. Bu  amaç ile teknolojik ürünlerin seçimi ve tedarigi konusunda hizmet verir,  bunlar üzerinde çalisacak yazilimlari müsteri ihtiyacina göre tespit  eder ve anahtar teslimi projeler üretir.<br><br>Teknolojinin öneminin  ciddi bir şekilde arttığı günümüzde müşterilerimize kusursuz hizmet  verebilme anlayışıyla profesyonelce çözümler üretiyoruz, Konusunda üst  seviyede eğitim ve deneyime sahip olan kadromuz, işlerinin ciddiyetine  yakışan bir şekilde başarılara imza atmaya devam ederken, teknolojiyi  verimli ve etkin kullanabilmek için; bilişim, iletişim dünyasını ekip  olarak yakından takip etmektedir. Bilişim teknolojileri bilgi birikimi  ve deneyimi ile harmanlanmış profesyonel Teknik Bilgiler, web  stratejileri yaklaşımımız ile "sizin ihtiyaçlarınıza en uygun ve en iyi  çözümleri sunmak ve şirketinizi günün teknolojisine ayak uyduracak bir  hale getirmek" vizyonuyla katma değer yaratmaya odaklanmış bir tam bir  hizmet firmasıyız.
            </td>
        </tr>
    </tbody>
</table>
