﻿<div class="row" id="items-container">
    <div class="col-xs-12">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">{{lexicon.TitleItemsTable}}</div>
                    <div class="col-xs-9">
                        <div class="actions pull-right">
                            <a ui-sref="insert-form({ domain: '{{domain}}' })" class="btn btn-danger btn-sm">
                                <i class="fa fa-plus"></i>&nbsp;
                                {{lexicon.TitleInsertItem}}
                            </a>&nbsp;
                            <div class="btn-group">
                                <a href="javascript:void(0);" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                                    <i class="fa fa-download"></i>&nbsp;
                                    
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'json', escape: 'false' });"><img src="vendors/tableExport/icon/json.png" width="24" class="mrx" />Json</a></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'xml', escape: 'false' });"><img src="vendors/tableExport/icon/xml.png" width="24" class="mrx" />Xml</a></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'sql' });"><img src="vendors/tableExport/icon/sql.png" width="24" class="mrx" />Sql</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'csv' });"><img src="vendors/tableExport/icon/csv.png" width="24" class="mrx" />csv</a></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'txt', escape: 'false' });"><img src="vendors/tableExport/icon/txt.png" width="24" class="mrx" />TXT</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({ type: 'excel', escape: 'true' });"><img src="vendors/tableExport/icon/xls.png" width="24" class="mrx" />Excel</a></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({type:'doc',escape:'false'});"><img src="vendors/tableExport/icon/word.png" width="24" class="mrx" />Word </a></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({type:'powerpoint',escape:'false'});"><img src="vendors/tableExport/icon/ppt.png" width="24" class="mrx" />Powerpoint</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);" onclick="$('#items-table').tableExport({type:'pdf', pdfFontSize:'14', escape:'true'});"><img src="vendors/tableExport/icon/pdf.png" width="24" class="mrx" />Pdf</a></li>

                                </ul>
                            </div>
                            <a href="#" class="btn btn-sm btn-success" onclick="window.history.back()">Geri</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="items-table" class="table table-striped table-bordered table-hover">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>









