﻿<div class="sidebar-collapse menu-scroll" ng-generator="MenuItems" inject>
    <ul id="side-menu" class="nav admin-nav-main">
        <li class="user-panel">
            <div class="thumb"><img src="/images/avatar/icon_avatar.png" alt="" class="img-circle" /></div>
            <div class="info">
                <p>Kullanıcı</p>
                <ul class="list-inline list-unstyled">
                    <li><a ui-sref="extra-profile" data-hover="tooltip" title="Profile"><i class="fa fa-user"></i></a></li>
                    <li><a ui-sref="email-inbox" data-hover="tooltip" title="Mail"><i class="fa fa-envelope"></i></a></li>
                    <li>
                        <a href="javascript:void(0);" data-hover="tooltip" title="Setting" data-toggle="modal" data-target="#modal-config">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li><a ui-sref="extra-signin" data-hover="tooltip" title="Logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </li>
        <li ng-repeat="item in injected track by $index">
            <a ui-sref="{{item.route}}">
                <i class="fa {{item.iconClass}} fa-fw">
                    <div class="icon-bg bg-dark"></div>
                </i><span class="menu-title">{{item.title}}</span><span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
                <li ng-repeat="child1st in item.submenu track by $index">
                    <a ui-sref="{{child1st.route}}"><i class="fa {{child1st.iconClass}}"></i><span class="submenu-title">{{child1st.title}}</span></a>
                    <ul class="nav nav-third-level">
                        <li ng-repeat="child2nd in child1st.submenu track by $index">
                            <a ui-sref="{{child2nd.route}}"><i class="fa {{child2nd.iconClass}}"></i><span class="submenu-title">{{child2ndtitle}}</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>